@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.root{
    background: #E5E4E3;
    color: #17191b;
    font-family: "Fira Code", monospace;
    font-size: 20px;
    font-weight: 400;
    min-width: 320px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

::selection {
    background-color:#17191b;
    color: white; 
  }
  

  ::-webkit-selection {
    background-color: #17191b;
    color: white; 
  }