.card {
  width: 291px;
  border-left: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .3s linear;
  cursor: pointer;
 
}
.card:first-child{
    border: none;
}
.card:hover{
    background-color: #00000017;
}